<!DOCTYPE html>
<html>
<head>
    <title>{{ judul }} | MyWeb4</title>
    <style type="text/css">
        h1 {
            font-size:200%;
            text-align:center;
            margin-bottom:100px;
            text-shadow:2px 2px 5px black
        }
        .tulisan p {
            text-align:justify;
            font-size:120%;

        }
        .tulisan {
            width:200px;
            margin:auto;
        }
    </style>
</head>
<body>
    <h1>{{ header }}</h1>
    <div class="tulisan">
        <p>{{ teks }}</p>
    </div>
</body>
</html>
