<!DOCTYPE html>
<html>
<head>
    <title>home | MyWeb3</title>
    <style type="text/css">
        .header {
            font-size:200%;
            text-align:center;
        }
        .link {
            margin:auto;
            background-color:rgba(0,255,0,50%);
            font-size:200%;
            display:table;
            padding:4px;
            width:200px;
            text-align:center;
        }
        .link a {
            text-decoration:none;
        }

        .link:hover{
            border:5px solid black;
        }
    </style>
</head>
<body>
    <h1 class="header">selamat datang di web ini</h1>
    <div class="link"><a href="blog">ke blog</a></div>
    <br>
    <div class="link"><a href="about">ke about</a></div>
</body>
</html>
