<!DOCTYPE html>
<html>
<head>
    <title>about | MyWeb3</title>
</head>
<body>
<!DOCTYPE html>
<html>
<head>
    <title>about | MyWeb3</title>
    <style type="text/css">
        .header {
            font-size:200%;
            text-align:center;
        }
        .link {
            margin:auto;
            background-color:rgba(0,255,0,50%);
            font-size:200%;
            display:table;
            padding:4px;
            text-align:center;
        }
        .link a {
            text-decoration:none;
        }

        .link:hover {
            border:5px solid black;
        }
    </style>
</head>
<body>
    <h1 class="header">selamat datang di about</h1>
    <div class="link"><a href="/">ke home</a></div>
</body>
</html>

</body>
</html>
