{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>web interaktif</title>
	<link rel="stylesheet" type="text/css" href="{% static fileCss %}">
</head>
<body style="background:url('{% static fileG %}') no-repeat fixed;background-size:cover">
	<div class="artikel-header">
		<h1>KEINDAHAN ALAM DAN BUMI</h1>
		<div id="red"></div><div id="yellow"></div><div id="green"></div><div id="blue"></div>
		<div class="artikel-fill">
			<div class="artikel-nav">
				<h2>TOPIK</h2>
				<hr>
				<ol>
					<li>olahraga</li>
					<li>kesehatan</li>
					<li>game</li>
					<li>selebritas</li>
					<li>berita terkini</li>
					<li>trending</li>
				</ol>
			</div>
			<div class="artikel-news">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat no
				<br>
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<br>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum
				</p>
			</div>
		</div>
	</div>
</body>
</html>
