

.kotak-login-luar {
	width:400px;
	height:250px;
	background-color:rgba(0,0,250,50%);
	margin:120px auto;
	border:1px solid white;
}

.kotak-login-dalam {
	padding:20px;
	font-size:140%;
	font-family:serif;
	font-weight:bold;
	color:lightgreen;

}
.kotak-login-dalam label{
	display:block;
	margin-bottom:10px;
}

.kotak-login-dalam input{
	width:95%;
	height:20px;
	outline:none;
	border:none;
	background-color:transparent;
	border-bottom:2px solid black
}


.kotak-login-dalam button {
	border:2px solid black;
	font-size:120%;
	margin:20px 6em;
	background-color:rgb(0,200,0);
	font-family:monospace;
	font-weight:bold;
}









