<!DOCTYPE html>
<html>
<head>
    <title>blog | MyWebsite</title>
    <style type="text/css">
        h1 {
            font-size:200%;
            text-shadow:2px 2px 5px black;
            text-align:center;
        }
        ul li a {
            font-size:120%;
            list-style-type:disc;
            color:red;
        }
    </style>
</head>
<body>
    <h1>selamat datand di blog</h1>

    {# for #}
    <ul>
        {% for link,name in nav %}
            <li><a href="{{ link }}">{{ name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
