<!DOCTYPE html>
<html>
<head>
    <title>home | blog | MyWeb3</title>
    <style type="text/css">
        .header {
            font-size:200%;
            text-align:center;
        }
        .link {
            margin:auto;
            background-color:rgba(255,0,0,50%);
            display:table;
            padding:4px;
            font-size:200%;
            width:200px;
            text-align:center;
        }

        .link a {
            text-decoration:none;
        }

        .link:hover {
            border:5px solid black;
        }
    </style>
</head>
<body>
    <h1 class="header">selamat datang di blog </h1>
    <div class="link"><a href="/">to home</a></div>
    <br>
    <div class="link"><a href="recent/">to recent post</a></div>
</body>
</html>
