<!DOCTYPE html>
<html>
<head>
    <title>recent post | blog | MyWeb3</title>
    <style type="text/css">
        .header {
            font-size:200%;
            text-align:center;
        }
        .link {
            margin:auto;
            background-color:rgba(255,0,0,50%);
            display:table;
            padding:4px;
            font-size:200%;
            width:200px;
            text-align:center;
        }
        .link a {
            text-decoration:none;
        }

        .link:hover {
            border:5px solid black;
        }
    </style>
</head>
<body>
    <div class="header"><h1>welcome to recent blog</h1></div>
    <div class="link"><a href="/blog">back</a></div>
</body>
</html>
