<!DOCTYPE html>
<html>
<head>
	<title>login | MyWeb</title>
	<script type="text/javascript">
		function move_page(url){
			window.location = url;
		}
	</script>
</head>
<body>
	<div class="kotak-login-luar">
		<div class="kotak-login-dalam">
			<label for="username-input">masukan username</label>
			<input type="text" id="username-input" placeholder="your username">
			<br><br>
			<label for="username-input">masukan password</label>
			<input type="password" id="password-input" placeholder="your password">
			<button type="button" onclick="move_page('artikel')">login</button>
		</div>
	</div>
</body>
</html>
