

.artikel-header {
	font-size:200%;
	text-align:center;
	color:red;

}

#red {
	float:left;
	border:3px solid rgba(250,0,0,50%);
	width:240px;
}
#yellow {
	float:left;
	border:3px solid rgba(250,250,0,50%);
	width:240px;
}
#green {
	float:left;
	border:3px solid rgba(0,250,0,50%);
	width:240px;
}
#blue {
	float:left;
	border:3px solid rgba(0,0,250,50%);
	width:240px;
}
.artikel-news {
	margin-top:100px;
	font-size:60%;
	color:white;
	font-weight:bold;
	font-family:monospace;
}

.artikel-nav {
	width:200px;
	height:350px;
	float:left;
	margin:3px;
	padding:2px;
	background-color:rgba(199,188,188,50%);
}

.artikel-nav ul,li{
	font-size:90%;
	list-style-type:1;
	text-align:left;
}

.artikel-nav h2 {
	font-size:110%;
	font-weight:bold;
	text-align:center;
}

.artikel-nav hr {
	border:2px solid black;
}
