.lampu {
    margin:10px auto;
    display:table;
    border:4px solid black;
    padding:4px;
}

.lamp {
    width:100px;
    height:100px;
    border:2px solid black;
    border-radius:50%;
    margin:2px;
}

.red {
    background-color:red;
    box-shadow: 0 0 5px 10px rgba(255,0,0,.5)
}
.yellow {
    background-color:yellow;
    box-shadow: 0 0 5px 10px rgba(255,255,0,.5)
}
.green {
    background-color:green;
    box-shadow: 0 0 5px 10px rgba(0,255,0,.5)
}

.active {
    width:100px;
    height:50px;
    border:2px solid black;
    text-align:center;
    line-height:50px;
    margin:20px auto;
}

.active:active {
    border:2px solid green;
}


